---
layout: default
title: Josherich
---

<script>
  document.querySelector('.header a.home').classList.add('selected')
</script>

<div id="home">

  <ul class="posts">
    <li><a href="/nli.html">Testing NLI models on Temporal Inference</a></li>
    <li><a href="/lda-demo-candidates.html">Topic Modeling on 2020 Democratic Candidates' Tweets</a></li>
    <li><a href="https://josherich.github.io/nlp-dataset-explorer">NLP Datasets Explorer</a></li>

    {% for post in site.posts %}
      {% unless post.tags contains "cn" %}
        <li><span>{{ post.date | date_to_string }}</span> - <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>
  
  <hr>

  <ul class="posts">
    {% for post in site.posts %}
      {% if post.tags contains "cn" %}
        <li><span>{{ post.date | date_to_string }}</span> - <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>