---
layout: default
title: Josherich
---

<script>
  document.querySelector('.header a.home').classList.add('selected')
</script>

<div id="home">

  <ul class="posts">
    <li><a href="/nli.html">Testing NLI models on Temporal Inference</a></li>
    <li><a href="/lda-demo-candidates.html">Topic Modeling on 2020 Democratic Candidates' Tweets</a></li>
    <li><a href="/weight-net.html">Weight Net, first take on putting neural nets weight to input [part 1]</a></li>
    <li><a href="https://josherich.github.io/nlp-dataset-explorer">NLP Datasets Explorer</a></li>
    <li><a href="https://josherich.github.io/gradient-reader/">Gradient Reader</a></li>
  </ul>

  <hr>

  <ul class="posts">
    {% assign titles = site.posts | map: "title" %}
    <script>
      window._DATA = JSON.parse(decodeURIComponent("{{ titles | jsonify | uri_escape  }}"));
    </script>

    {% for post in site.posts %}
      {% unless post.tags contains "cn" or post.tags contains "short" %}
        <li><div class="date">{{ post.date | date_to_string }}</div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endunless %}
    {% endfor %}
  </ul>


  <hr>

  <ul class="posts">
    {% for post in site.posts %}
      {% if post.tags contains "cn" %}
        {% unless post.tags contains "short" %}
          <li><div class="date">{{ post.date | date_to_string }}</div><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </ul>

</div>