.post {
  overflow: hidden;
}

.post h1, .site h1 {
  text-align: center;
  margin-top: 4em;
  margin-bottom: 1em;
  color: #600;
  font: 19px optima, STHeiti;
  font-weight: 600;
}

pre {
  padding: 8px 15px;
  background: #191919;
  border-radius: 2px;
  border: 1px solid #121212;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.3);
  overflow: auto;
  overflow-y: hidden;
}

pre code {
  background-color: transparent;
  border-radius: 0;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(129, 139, 152, 0.12);
  border-radius: 6px;
}

.highlight pre {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 20px 0;
  padding: 0.4em .7em;
  color: #b7b7b7;
}

.post code {
  font-size: 0.8em;
  white-space: pre-wrap;
  // padding: 3px 3px;
  border-radius: 3px;
}

.post .equation {
  font-size: 0.9em;
  overflow: auto;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-page {
  a         { color: #1e6aff; }
  a:hover   { color: #666; }
  a:visited { color: #7aa7ff; }
}

/* pandas done right tables */
#select-1, #select-2, #select-3 {
  font-size: 9px;
}
#select-4 {
  font-size: 9px;
}

.cell-selected {
  background: #aaa!important;
}

.image-caption {
  text-align: center;
  font-size: 0.8em;
  color: #999;
}

.equation {
  margin: 20px 0;
}

canvas {
  border: 1px solid #eee;
  margin: 10px auto;
  display: block;
}

canvas.fullscreen {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
