.post {
  overflow: hidden;
}

.post h1, .site h1 {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

pre {
  padding: 12px 16px;
  background: #f6f8fa;
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  overflow: auto;
  overflow-y: hidden;
}

pre code {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  white-space: break-spaces;
  background-color: rgba(129, 139, 152, 0.12);
  border-radius: 4px;
}

.highlight pre {
  margin: 20px 0;
  padding: 12px 16px;
  color: #b7b7b7;
  background: #191919;
  border: 1px solid #121212;
  border-radius: 4px;
}

.post code {
  font-size: 0.85em;
  white-space: pre-wrap;
  border-radius: 3px;
}

.post .equation {
  font-size: 0.9em;
  overflow: auto;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.post-page {
  a         { color: #0366d6; }
  a:hover   { color: #024ea4; }
  a:visited { color: #6f42c1; }
}

.image-caption {
  text-align: center;
  font-size: 0.8em;
  color: #999;
}

.equation {
  margin: 20px 0;
}

canvas {
  border: 1px solid #eee;
  margin: 10px auto;
  display: block;
}

canvas.fullscreen {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
