/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 14px optima, Hiragino Sans GB, Helvatica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; margin-top: 1em;}
h1 { margin-bottom: 1em; }
h2 {
  font-size: 120%;
  margin-top: 2em;
  color: #666;
}

blockquote {
  border-left: 6px solid #D0D0D0;
  padding-left: 20px;
  padding-left: 8px;
  /*color: #191818;*/
}

p { margin: 1em 0; text-align: left; line-height: 1.5em;}
img {
  display: block;
  margin: 20px 0;
  text-align: center;
  width: 100%;
  // max-width: 90%;
}
a         { color: #333; }
a:hover   { color: #666; }
a:visited { color: #656c7a; }


table {
  font-size: 1em;
  padding: 0;border-collapse: collapse; }
  table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid #cccccc;
      margin: 0;
      padding: 0px 4px; }
    table tr td {
      border: 1px solid #cccccc;
      margin: 0;
      padding: 0px 4px; }
    table tr th :first-child, table tr td :first-child {
      margin-top: 0; }
    table tr th :last-child, table tr td :last-child {
      margin-bottom: 0; }
