$accentColor = #2681ff

.navbar .home-link .site-name {
    color: #2681ff;
}

.page .custom-block.tip {
    border-color: #2681ff;
}

.theme-container .page .content__default .logo-img {
    margin-top: 3.6rem;
}

.page .content__default .logo-text {
    padding-top: 2.6rem;
    padding-bottom: 2rem;
}

.icon.outbound {
    display: none;
}

a {
  word-break: break-all;
}

#jie-shao {
    display: none;
}

#introduction {
    display: none;
}

#app .global-ui .sw-update-popup {
    border: 1px solid #2681ff;
}

h3 {
    color: $accentColor;
}

.sidebar-sub-headers a.sidebar-link {
    color: #2681ff;
}
