<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    {% seo %}
    <link rel="stylesheet" media="all" href="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.7/han.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.8.3/katex.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>

  <body>

    <div class="site han-init-context">
      <div class="header">
        <h1 class="title"><a href="{{ site.baseurl }}">{{ site.name }}</a></h1>
        <a class="home hlink selected" href="{{ site.baseurl }}">HOME</a>
        <!-- <a class="feed hlink" href="/notes">NOTES</a> -->
        <a class="projects hlink" href="/projects.html">PROJECTS</a>
        <a class="draw hlink" href="/drawing.html">DRAWING</a>
        <a class="about hlink" href="/about.html">ABOUT</a>
        <a class="feed hlink" href="/feed.xml">RSS</a>

      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            GITHUB
            <br/> josherichchenATgmail.com
          </p>
        </div>
        <div class="contact">
          <p>
            <a href="https://github.com/josherich">github.com/josherich</a>
            <br />
          </p>
        </div>
      </div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Han/3.2.7/han.min.js"></script>

  </body>

</html>